Trimestre 1/Node-red/AdivinaNumero.json
[
    {
        "id": "18f1455fb3a774e3",
        "type": "tab",
        "label": "Adivina numero",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d2497c33fd5dc8f",
        "type": "inject",
        "z": "18f1455fb3a774e3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "edc7c75523a87b3e"
            ]
        ]
    },
    {
        "id": "edc7c75523a87b3e",
        "type": "function",
        "z": "18f1455fb3a774e3",
        "name": "function 2",
        "func": "let numeroAleatorio = Math.floor(Math.random() * 10) + 1;\nlet numeroUsuario = parseInt(msg.req.params.numero);\nlet acierto = (numeroUsuario === numeroAleatorio);\n\nmsg.payload = {\n    usuario: numeroUsuario,\n    numeroAleatorio: numeroAleatorio,\n    acierto: acierto\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 140,
        "wires": [
            [
                "e5792df39acbe9c3"
            ]
        ]
    },
    {
        "id": "41aaf375bfbd03d3",
        "type": "http in",
        "z": "18f1455fb3a774e3",
        "name": "",
        "url": "/adivina/:numero",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 260,
        "wires": [
            [
                "edc7c75523a87b3e"
            ]
        ]
    },
    {
        "id": "e5792df39acbe9c3",
        "type": "http response",
        "z": "18f1455fb3a774e3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 140,
        "wires": []
    }
]